{% load static %}

<html lang="en">

{% include 'employee/head.html' %}

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
            {% include 'employee/sidebar.html' %}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                    {% include 'employee/topbar.html' %}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Add movies in Main Slider Section</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Movie Entry</h6>
                        </div>
                        <div class="card-body">
                          <form method="POST" class="user" action="mainSlideAdded" id="form" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="credit box">
                                  <div class="form-group form-inline">
                                      <label class="col-2" style="color: black">Movie Name</label>
                                      <div class="mr-3">
                                        <input type="text" class="form-control" style="width:900px" name="movieName" required>
                                      </div>
                                  </div>
                                  <div class="form-group form-inline">
                                      <label class="col-2" style="color: black">Description</label>
                                      <div class="mr-3">
                                        <textarea class="form-control" name="description" rows="4" cols="50" style="width:900px" required></textarea>
                                      </div>
                                  </div>
                                  <div class="form-group form-inline">
                                      <label class="col-2" style="color: black">Trailer Youtube Link</label>
                                      <div class="mr-3">
                                        <input type="text" class="form-control" style="width:900px" name="trailer" required>
                                      </div>
                                  </div>
                                  <div class="form-group form-inline">
                                      <label class="col-2" style="color: black">Upload Image</label>
                                      <div class="mr-3">
                                        <input class="input-file" type="file" name="pict" id="file" accept="image/*">
                                      </div>
                                  </div>
                                  <br>
                            </div>
                            <div style="text-align:center">
                              <button class="btn btn-primary mr-3" type="submit">Submit</button>
                            </div>
                          </form>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {% include 'employee/footer.html' %}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    {% include 'employee/logout.html' %}

    <!-- Scripts-->
    {% include 'employee/scripts.html' %}

</body>

</html>