{% load static %}

<!-- Bootstrap core JavaScript-->
<script src="{% static 'employee/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'employee/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'employee/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'employee/js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'employee/vendor/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'employee/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'employee/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'employee/js/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'employee/js/demo/chart-pie-demo.js' %}"></script>
<script src="{% static 'employee/js/demo/datatables-demo.js' %}"></script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>