{% load static %}

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/employee/empDashboard">
                <div class="sidebar-brand-icon rotate-n-15">

                </div>
                <img src="{% static 'imgLogo.png' %}" height="60">
                <div class="sidebar-brand-text mx-3">Moviezz <sup>*</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/employee/empDashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Payment Section
            </div>

            <li class="nav-item">
                <a class="nav-link" href="/employee/customerPaymentTable">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Customer Bookings</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Viewer Section
            </div>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/employee/mainSlideTable">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Main-Slide Bar</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/employee/newReleaseTable">
                    <i class="fas fa-fw fa-table"></i>
                    <span>New Releases</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>


        </ul>