{% load static %}

<section class="w3l-grids">
		<div class="grids-main py-5">
			<div class="container py-lg-3">
				<div class="headerhny-title">
					<div class="w3l-title-grids">
						<div class="headerhny-left">
							<h3 class="hny-title">New Releases</h3>
						</div>
					</div>
				</div>
				<div class="owl-three owl-carousel owl-theme">
					{% for i in newRelease %}
						<div class="item vhny-grid">
							<div class="box16 mb-0">
								<a href="{{ i.trailer }}">
									<figure>
										<img class="img-fluid" src="media/{{ i.image }}" alt="">
									</figure>
									<div class="box-content">
										<h4>
											<span class="post"><span class="fa fa-clock-o"> </span> {{ i.hour }} Hr {{ i.minute }} min</span>
											<span class="post"><span class="fa fa-rupee text-right"></span> {{ i.price }}</span>
										</h4>
										<h4>
											<span class="post"><span class="fa fa-calendar-o"> </span> Today</span>
											<span class="post"><span class="fa fa-clock text-right"></span> 5 P.M.</span>
										</h4>
									</div>
									<span class="fa fa-play video-icon" aria-hidden="true"></span>
								</a>
							</div>
							<h3> <a class="title-gd" href="book/{{i.id}}">{{ i.movieName }}</a></h3>
							<p>{{ i.description }}</p>
							<p><a href="{{ i.rating }}">About Movie</a></p>
							<div class="button-center text-center mt-4">
								<a href="book/{{i.id}}" class="btn watch-button">Book now</a>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
</section>