{% load static %}

<html>
{% include 'viewer/head.html' %}
	<body>
		<!-- header -->
			{% include 'viewer/header.html' %}
		<!-- //header -->
		<!-- main-slider -->
			{% include 'viewer/main-slider.html' %}
		<!-- main-slider -->
		<!--grids-sec1-->
<!--			{% include 'viewer/grids-sec1.html' %}-->
		<!--//grids-sec1-->
		<!--grids-sec2-->
			{% include 'viewer/grids-sec2.html' %}
		<!--grids-sec2-->
		<!--mid-slider -->
<!--			{% include 'viewer/mid-slider.html' %}-->
		<!-- //mid-slider-->
		<!-- footer-66 -->
			{% include 'viewer/footer.html' %}
		<!--//footer-66 -->
	</body>
</html>
{% include 'viewer/scripts.html' %}