{% load static %}

<section class="w3l-albums py-5" id="projects">
		<div class="container py-lg-4">
			<div class="headerhny-title">
					<div class="w3l-title-grids">
						<div class="headerhny-left">
							<h3 class="hny-title">In Theatres</h3>
						</div>
					</div>
			</div>
			<div class="row">
				<div class="col-lg-12 mx-auto">
					<!--Horizontal Tab-->
					<div id="parentHorizontalTab">
						<ul class="resp-tabs-list hor_1">
							<li>English</li>
							<li>Hindi</li>
							<li>Marathi</li>
							<div class="clear"></div>
						</ul>
						<!-- English -->
						<div class="resp-tabs-container hor_1">
							<div class="albums-content">
								<div class="row">
									<!--/set1-->
									<div class="col-lg-4 new-relise-gd mt-lg-0 mt-0">
										<div class="slider-info">
											<div class="img-circle">
												<a href="https://youtu.be/5iaYLCiq5RM">
													<img src="{% static 'shutter.jpg' %}"
														 class="img-fluid">
													<div class="overlay-icon">
														<span class="fa fa-play video-icon" aria-hidden="true"></span>
													</div>
												</a>
											</div>
											<div class="message">
												<p><a href="https://www.imdb.com/title/tt1130884/">Description</a></p>
												<a class="author-book-title" href="genre.html">Shutter Island</a>
												<h4> <span class="post"><span class="fa fa-clock-o"> </span> 2 Hr 18 min
													</span>
													<span class="post fa fa-heart text-right"></span>
												</h4>
											</div>
										</div>
									</div>
									<div class="col-lg-4 new-relise-gd mt-lg-0 mt-0">
										<div class="slider-info">
											<div class="img-circle">
												<a href="https://youtu.be/zSWdZVtXT7E"><img src="{% static 'interstellar.jpg' %}" class="img-fluid"
														alt="author image">
													<div class="overlay-icon">

														<span class="fa fa-play video-icon" aria-hidden="true"></span>
													</div>
												</a>
											</div>
											<div class="message">
												<p><a href="https://www.imdb.com/title/tt0816692/?ref_=nv_sr_srsg_0">Description</a></p>
												<a class="author-book-title" href="genre.html">Interstellar</a>
												<h4> <span class="post"><span class="fa fa-clock-o"> </span> 2 Hr 49 min

													</span>

													<span class="post fa fa-heart text-right"></span>
												</h4>
											</div>
										</div>

									</div>
									<div class="col-lg-4 new-relise-gd mt-lg-0 mt-0">
										<div class="slider-info">
											<div class="img-circle">
												<a href="https://www.youtube.com/watch?v=CDf_EnIhojk"><img src="{% static 'viewer/assets/images/m2.jpg' %}" class="img-fluid"
														alt="author image">
													<div class="overlay-icon">

														<span class="fa fa-play video-icon" aria-hidden="true"></span>
													</div>
												</a>
											</div>
											<div class="message">
												<p><a href="https://www.imdb.com/title/tt5606664/?ref_=fn_al_tt_1">Description</a></p>
												<a class="author-book-title" href="genre.html">Doctor Sleep</a>
												<h4> <span class="post"><span class="fa fa-clock-o"> </span> 2 Hr 4min

													</span>

													<span class="post fa fa-heart text-right"></span>
												</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="albums-content">
								<div class="row">
									<!--/set1-->
									<div class="col-lg-4 new-relise-gd mt-lg-0 mt-0">
										<div class="slider-info">
											<div class="img-circle">
												<a href="https://www.youtube.com/watch?v=xvszmNXdM4w"><img src="https://i0.wp.com/youberelentless.com/wp-content/uploads/2017/05/3i-poster-3.jpg?resize=762%2C1024" class="img-fluid"
														alt="author image">
													<div class="overlay-icon">

														<span class="fa fa-play video-icon" aria-hidden="true"></span>
													</div>
												</a>
											</div>
											<div class="message">
												<p><a href="https://www.imdb.com/title/tt1187043/?ref_=nv_sr_srsg_0">Description</a></p>
												<a class="author-book-title" href="genre.html">3 Idiots</a>
												<h4> <span class="post"><span class="fa fa-clock-o"> </span> 2 Hr 50 min

													</span>

													<span class="post fa fa-heart text-right"></span>
												</h4>
											</div>
										</div>

									</div>
									<div class="col-lg-4 new-relise-gd mt-lg-0 mt-0">
										<div class="slider-info">
											<div class="img-circle">
												<a href="https://www.youtube.com/watch?v=mSlgu8AQAd4"><img src="{% static 'badla.jpg' %}" class="img-fluid"
														alt="author image">
													<div class="overlay-icon">
														<span class="fa fa-play video-icon" aria-hidden="true"></span>
													</div>
												</a>
											</div>
											<div class="message">
												<p><a href="https://www.imdb.com/title/tt8130968/?ref_=nv_sr_srsg_0">Description</a></p>
												<a class="author-book-title" href="genre.html">Badla</a>
												<h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 58 min

													</span>

													<span class="post fa fa-heart text-right"></span>
												</h4>
											</div>
										</div>

									</div>

									<div class="col-lg-4 new-relise-gd mt-lg-0 mt-0">
										<div class="slider-info">
											<div class="img-circle">
												<a href="https://www.youtube.com/watch?v=x_7YlGv9u1g"><img src="{% static 'dangal.jpg' %}" class="img-fluid"
														alt="author image">
													<div class="overlay-icon">

														<span class="fa fa-play video-icon" aria-hidden="true"></span>
													</div>
												</a>
											</div>
											<div class="message">
												<p><a href="https://www.imdb.com/title/tt5074352/?ref_=nv_sr_srsg_0">Description</a></p>
												<a class="author-book-title" href="genre.html">Dangal</a>
												<h4> <span class="post"><span class="fa fa-clock-o"> </span> 2 Hr 41 min
													</span>
													<span class="post fa fa-heart text-right"></span>
												</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="albums-content">
								<div class="row">
									<!--/set3-->
									<div class="col-lg-4 new-relise-gd mt-lg-0 mt-0">
										<div class="slider-info">
											<div class="img-circle">
												<a href="https://www.youtube.com/watch?v=DCXDyIsPEN8"><img src="{% static 'natsamrat.jpg' %}" class="img-fluid"
														alt="author image">
													<div class="overlay-icon">

														<span class="fa fa-play video-icon" aria-hidden="true"></span>
													</div>
												</a>
											</div>
											<div class="message">
												<p><a href="https://www.imdb.com/title/tt5311546/?ref_=ttls_li_tt">Description</a></p>
												<a class="author-book-title" href="genre.html">NatSamrat</a>
												<h4> <span class="post"><span class="fa fa-clock-o"> </span> 2 Hr 46 min

													</span>

													<span class="post fa fa-heart text-right"></span>
												</h4>
											</div>
										</div>

									</div>
									<div class="col-lg-4 new-relise-gd mt-lg-0 mt-0">
										<div class="slider-info">
											<div class="img-circle">
												<a href="https://www.youtube.com/watch?v=eeqfwUW1bdI"><img src="{% static 'pachadlela.jpg' %}" class="img-fluid"
														alt="author image">
													<div class="overlay-icon">

														<span class="fa fa-play video-icon" aria-hidden="true"></span>
													</div>
												</a>
											</div>
											<div class="message">
												<p><a href="https://www.imdb.com/title/tt1122600/?ref_=ttls_li_tt">Description</a></p>
												<a class="author-book-title" href="genre.html">Pachadlela</a>
												<h4> <span class="post"><span class="fa fa-clock-o"> </span> 2 Hr 15 min

													</span>

													<span class="post fa fa-heart text-right"></span>
												</h4>
											</div>
										</div>

									</div>
									<div class="col-lg-4 new-relise-gd mt-lg-0 mt-0">
										<div class="slider-info">
											<div class="img-circle">
												<a href="https://www.youtube.com/watch?v=qdnVCbRGFzA"><img src="{% static 'duniyadari.jpg' %}" class="img-fluid"
														alt="author image">
													<div class="overlay-icon">

														<span class="fa fa-play video-icon" aria-hidden="true"></span>
													</div>
												</a>
											</div>
											<div class="message">
												<p><a href="https://www.imdb.com/title/tt3121604/?ref_=ttls_li_tt">Description</a></p>
												<a class="author-book-title" href="genre.html">Duniyadari</a>
												<h4> <span class="post"><span class="fa fa-clock-o"> </span> 2 Hr 22 min

													</span>

													<span class="post fa fa-heart text-right"></span>
												</h4>
											</div>
										</div>

									</div>
									<!--//set3-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>